@charset "UTF-8";
@font-face {
  font-family: "DM Sans";
  src: url(/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
:root {
  color-scheme: light;
  --background-color: #fff;
  --text-color: #12131a;
  --message-color: #404254;
  --container-background-color: #f2f2f7;
  --container-text-color: #2a2b37;
  --container-border-color: #e4e4ef;
  --color-error: #da3701;
}
:root:has(#theme-checkbox:checked) {
  color-scheme: dark;
  --background-color: #12131a;
  --text-color: #e4e4ef;
  --message-color: #e4e4ef;
  --container-background-color: #21222c;
  --container-text-color: #e4e4ef;
  --container-border-color: #404254;
  --color-error: #fe8159;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color-scheme: dark light;
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 670px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 515px) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 335px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 250px) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: "DM Sans", serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 105.4rem;
  padding: 3.2rem;
}
@media (max-width: 900px) {
  .container {
    padding-top: 1.8rem;
  }
}
@media (max-width: 515px) {
  .container {
    padding: 1.6rem;
  }
}

.header {
  margin-bottom: 4.8rem;
}
@media (max-width: 900px) {
  .header {
    margin-bottom: 5.8rem;
  }
}
@media (max-width: 515px) {
  .header {
    margin-bottom: 4rem;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}
@media (max-width: 900px) {
  .header__top {
    margin-bottom: 4rem;
  }
}
.header__logo {
  display: flex;
  height: 4rem;
  width: 25rem;
  background-image: url(/assets/images/logo-light-theme.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
@media (max-width: 515px) {
  .header__logo {
    height: 3rem;
  }
}
.header #theme-checkbox {
  display: none;
}
.header__dark-mode-btn {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  border: none;
  background-color: var(--container-background-color);
  border-radius: 0.8rem;
  background-image: url(/assets/images/icon-moon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;
}
@media (max-width: 515px) {
  .header__dark-mode-btn {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.header__dark-mode-btn:hover {
  opacity: 0.7;
}
.header__heading {
  font-size: 6.4rem;
  letter-spacing: -0.1rem;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
@media (max-width: 515px) {
  .header__heading {
    font-size: 4rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    line-height: 100%;
  }
}

:root:has(#theme-checkbox:checked) .header__logo {
  background-image: url(/assets/images/logo-dark-theme.svg);
}
:root:has(#theme-checkbox:checked) .header__dark-mode-btn {
  background-image: url(/assets/images/icon-sun.svg);
}

.form {
  margin-bottom: 4.8rem;
}
@media (max-width: 900px) {
  .form {
    margin-bottom: 4rem;
  }
}
.form__error-message {
  font-size: 1.6rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--color-error);
  padding-bottom: 1.6rem;
  margin-top: -0.8rem;
  display: none;
}
.form textarea {
  width: 100%;
  resize: none;
  background-color: var(--container-background-color);
  border: solid 0.2rem var(--container-border-color);
  border-radius: 1.2rem;
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 140%;
  padding: 2rem;
  color: var(--container-text-color);
  field-sizing: content;
  min-height: 20rem;
  margin-bottom: 1.6rem;
}
.form textarea:focus-visible {
  outline: none;
}
.form textarea::placeholder {
  font-size: 2rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 140%;
  color: var(--container-text-color);
}
.form textarea:focus-visible {
  border: solid 0.2rem #c27cf8;
  box-shadow: 0 0 1rem 0 #d3a0fa;
}
.form textarea:invalid {
  border: solid 0.2rem var(--color-error);
  box-shadow: 0 0 1rem 0 var(--color-error);
}
.form textarea:invalid ~ .form__error-message {
  display: block;
}
.form__row {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 515px) {
  .form__row {
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
  }
}
.form__element {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}
.form__element input {
  accent-color: #c27cf8;
  cursor: pointer;
}
.form__element input:focus-visible {
  outline: solid 0.2rem #c27cf8;
  box-shadow: 0 0 1rem 0 #d3a0fa;
}
.form__element label {
  cursor: pointer;
}
.form__element input[type=number] {
  background-color: inherit;
  color: inherit;
  width: 5.5rem;
  height: 2.9rem;
  text-align: center;
  border: 0.1rem solid var(--container-border-color);
  border-radius: 0.6rem;
  margin-left: 1rem;
}
.form__time-message {
  margin-left: auto;
}
@media (max-width: 515px) {
  .form__time-message {
    margin-left: unset;
  }
}

:root:not(:has(#check-char-limit:checked)) #max-words {
  display: none;
}

.results__cards {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 515px) {
  .results__cards {
    flex-direction: column;
  }
}
.results__card {
  min-height: 15rem;
  width: 100%;
}
@media (max-width: 515px) {
  .results__card {
    min-height: 13rem;
  }
}

:root:not(:has(#exclude-spaces:checked)) #no-space-message {
  display: none;
}

.card {
  color: #12131a;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1.2rem;
  background-repeat: no-repeat;
  background-position: center right -3rem;
  background-size: contain;
}
@media (max-width: 515px) {
  .card {
    background-size: unset;
    background-position: center right -5rem;
  }
}
.card__heading {
  font-size: 6.4rem;
  letter-spacing: -0.1rem;
  font-weight: 700;
  line-height: 100%;
}
@media (max-width: 515px) {
  .card__heading {
    font-size: 4rem;
    letter-spacing: -0.1rem;
    font-weight: 700;
    line-height: 100%;
  }
}
.card__sub {
  font-size: 2rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 140%;
}
.card--1 {
  background-color: #d3a0fa;
  background-image: url(/assets/images/pattern-character-count.svg);
}
.card--2 {
  background-color: #ff9f00;
  background-image: url(/assets/images/pattern-word-count.svg);
}
.card--3 {
  background-color: #fe8159;
  background-image: url(/assets/images/pattern-sentence-count.svg);
}
.card #no-space-message {
  text-wrap: nowrap;
}

.density__heading {
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
  font-weight: 600;
  line-height: 130%;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.density__message {
  font-size: 1.6rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--message-color);
}
.density__table {
  font-size: 1.6rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 130%;
  width: 100%;
}
.density__row {
  margin-bottom: 1.2rem;
}
.density__row:nth-child(n+6) {
  display: none;
}
.density__bar {
  width: 100%;
  padding: 1rem 1.8rem;
}
.density__bar-outer {
  width: 100%;
  height: 1.2rem;
  background-color: var(--container-background-color);
  border-radius: 1.2rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
}
.density__bar-inner {
  background-color: #d3a0fa;
  border-radius: 0 1.2rem 1.2rem 0;
}
.density__text {
  text-align: end;
  text-wrap: nowrap;
}
.density__see-more-btn {
  font-size: 2rem;
  letter-spacing: -0.06rem;
  font-weight: 400;
  line-height: 140%;
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  position: relative;
}
.density__see-more-btn::after {
  content: "⌃";
  bottom: -0.7rem;
  position: absolute;
  right: -2rem;
  transform: scaleX(1.5);
}

:root:has(#see-more-check:checked) .density__row {
  display: table-row !important;
}
:root:has(#see-more-check:checked) .density__see-more-btn::after {
  content: "⌄";
  bottom: 0.7rem;
}

#see-more-check {
  display: none;
}

/*# sourceMappingURL=style.css.map */
