.form {
  margin-bottom: 4.8rem;

  @media (max-width: $Tablet) {
    margin-bottom: 4rem;
  }

  textarea {
    width: 100%;
    resize: none;
    background-color: var(--container-background-color);
    border: solid 0.2rem var(--container-border-color);
    border-radius: 1.2rem;
    font-family: inherit;
    @include text-3;
    padding: 2rem;
    color: var(--container-text-color);
    field-sizing: content;
    min-height: 20rem;
    margin-bottom: 1.6rem;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      @include text-3;
      color: var(--container-text-color);
    }

    &:focus-visible {
      border: solid 0.2rem $Blue-500;
      box-shadow: 0 0 1rem 0 $Blue-400;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    @include text-4;

    @media (max-width: $Mobile) {
      flex-direction: column;
      align-items: start;
      gap: 1.2rem;
    }
  }

  &__element {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;

    input {
      accent-color: $Blue-500;
      cursor: pointer;

      &:focus-visible {
        outline: solid 0.2rem $Blue-500;
        box-shadow: 0 0 1rem 0 $Blue-400;
      }
    }

    label {
      cursor: pointer;
    }

    input[type="text"] {
      background-color: inherit;
      color: inherit;
      width: 5.5rem;
      height: 2.9rem;
      text-align: center;
      border: 0.1rem solid var(--container-border-color);
      border-radius: 0.6rem;
      margin-left: 1rem;
    }
  }

  &__time-message {
    margin-left: auto;

    @media (max-width: $Mobile) {
      margin-left: unset;
    }
  }
}

:root:not(:has(#check-char-limit:checked)) {
  #max-words {
    display: none;
  }
}
