.header {
  margin-bottom: 4.8rem;

  @media (max-width: $Tablet) {
    margin-bottom: 5.8rem;
  }

  @media (max-width: $Mobile) {
    margin-bottom: 4rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.8rem;

    @media (max-width: $Tablet) {
      margin-bottom: 4rem;
    }
  }

  &__logo {
    display: flex;
    height: 4rem;
    width: 25rem;
    background-image: url(/assets/images/logo-light-theme.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    @media (max-width: $Mobile) {
      height: 3rem;
    }
  }

  #theme-checkbox {
    display: none;
  }

  &__dark-mode-btn {
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    background-color: var(--container-background-color);
    border-radius: 0.8rem;
    background-image: url(/assets/images/icon-moon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    cursor: pointer;

    @media (max-width: $Mobile) {
      width: 3.2rem;
      height: 3.2rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__heading {
    @include text-1;
    text-align: center;

    @media (max-width: $Mobile) {
      @include text-1-mobile;
    }
  }
}

:root:has(#theme-checkbox:checked) {
  .header__logo {
    background-image: url(/assets/images/logo-dark-theme.svg);
  }

  .header__dark-mode-btn {
    background-image: url(/assets/images/icon-sun.svg);
  }
}
