.card {
  color: $Neutral-900;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 1.2rem;

  background-repeat: no-repeat;
  background-position: center right -3rem;
  background-size: contain;

  @media (max-width: $Mobile) {
    background-size: unset;
    background-position: center right -5rem;
  }

  &__heading {
    @include text-1;

    @media (max-width: $Mobile) {
      @include text-1-mobile;
    }
  }

  &__sub {
    @include text-3;
  }

  &--1 {
    background-color: $Blue-400;
    background-image: url(/assets/images/pattern-character-count.svg);
  }

  &--2 {
    background-color: $Yellow-500;
    background-image: url(/assets/images/pattern-word-count.svg);
  }

  &--3 {
    background-color: $Orange-500;
    background-image: url(/assets/images/pattern-sentence-count.svg);
  }
}
