*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-family: $Font, serif;
    background-color: $Neutral-0;
    color: $Neutral-900;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 99rem;
    margin: 3.2rem;
}
