// Neutral

$Neutral-900: #12131a;
$Neutral-800: #21222c;
$Neutral-700: #2a2b37;
$Neutral-600: #404254;
$Neutral-200: #e4e4ef;
$Neutral-100: #f2f2f7;
$Neutral-0: #fff;

// Purple

$Blue-400: #d3a0fa;
$Blue-500: #c27cf8;

// Yellow

$Yellow-500: #ff9f00;

// Orange

$Orange-500: #fe8159;
$Orange-800: #da3701;
