// Neutral

$Neutral-900: #12131a;
$Neutral-800: #21222c;
$Neutral-700: #2a2b37;
$Neutral-600: #404254;
$Neutral-200: #e4e4ef;
$Neutral-100: #f2f2f7;
$Neutral-0: #fff;

// Purple

$Blue-400: #d3a0fa;
$Blue-500: #c27cf8;

// Yellow

$Yellow-500: #ff9f00;

// Orange

$Orange-500: #fe8159;
$Orange-800: #da3701;

:root {
  color-scheme: light;
  --background-color: #{$Neutral-0};
  --text-color: #{$Neutral-900};
  --message-color: #{$Neutral-600};

  --container-background-color: #{$Neutral-100};
  --container-text-color: #{$Neutral-700};
  --container-border-color: #{$Neutral-200};

  &:has(#theme-checkbox:checked) {
    color-scheme: dark;
    --background-color: #{$Neutral-900};
    --text-color: #{$Neutral-200};
    --message-color: #{$Neutral-200};

    --container-background-color: #{$Neutral-800};
    --container-text-color: #{$Neutral-200};
    --container-border-color: #{$Neutral-600};
  }
}
